	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" id="readerHeader" href="#"><img
					src="../resources/images/ereaderlogo.png" width="35" height="35"
					longdesc="asdf">Buzz Bee</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">

						<li><a href="#about">How It Works</a></li>
						<li><a href="#contact"> <span class="add-on"> <i
									class="icon-white icon-envelope"> </i>
							</span> Contact Us
						</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>